body{
color:rgb(0, 0, 0);
background:rgb(151, 137, 137)
}

header{
border-bottom: solid 2px rgb(56, 4, 4);
padding:20px;
font-size:32px;
color:rgb(245, 181, 179)
}


.chamada{
    background: rgba(255, 0, 0, 0.113);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
 img{
    heigth: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-left: 20px;
}